.vscode
*.ppm
*.o
*.map
*.bin
*.elf
*.d
*.txt
*.a
doc/html
doc/latex
program/calibrador/calibrador
program/main/main
program/interface/interface
program/simple/simple

program/calibrador/.moc/
program/calibrador/.obj/
program/calibrador/.ui/

moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

/.qmake.cache
/.qmake.stash

*.pro.user
*.pro.user.*
